---
title: home
pageTitle: _pageTitle_
pageDescription: _description_
---

<div class="overview">
  <div class="container">
    <a href="#food" class="overview--item">
      <img src="{{assets}}/img/food_icon.svg" alt="Food">
      <div class="tooltip">
        <p>We’re currently raising funds for a food truck we can take to camps and shelters. </p>
      </div>
    </a>
    <a href="#kits" class="overview--item">
      <img src="{{assets}}/img/kits_icon.svg" alt="Kits">
      <div class="tooltip">
        <p>Goal #1: To distribute 7,000 backpacks in a year with toiletries, first aid kits etc.</p>
      </div>
    </a>
    <a href="#support" class="overview--item">
      <img src="{{assets}}/img/support_icon.svg" alt="Support">
      <div class="tooltip">
        <p>Interested in volunteering time or resources? We would sure appreciate it!</p>
      </div>
    </a>
  </div>
</div>

<section class="section" id="food">
  <div class="container">
    <h2 class="hide-text">Food</h2>
    <img src="{{assets}}/img/food_icon.svg" alt="Food">
    <div class="section--body">
      <p>We’re currently raising money to buy a food truck
      we can take to homeless camps &amp; shelters and feed the hungry for free.<br />
      As of <span id="print-current-date">today</span> we still need <strong>$8,650</strong>.</p>
      <form class="donate_button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank"><input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="8U5ULSLNL3XMG"> <input alt="PayPal - The safer, easier way to pay online!" border="0" height="auto" name="submit" src="https://dl.dropboxusercontent.com/u/20166219/Fth_donate.png" type="image" width="100"> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"></form>
    </div>
  </div>
</section>

<section class="section" id="kits">
  <div class="container">
    <h2 class="hide-text">Kits</h2>
    <img src="{{assets}}/img/kits_icon.svg" alt="Kits">
    <div class="section--body">
      <p>Our Waxed canvas backpacks are filled with all the essentials from First aid kits to Cliff Bars.
      Full list of contents Here -
      Our Cost:$60 Each</p>
      <form class="donate_button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank"><input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="8U5ULSLNL3XMG"> <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://dl.dropboxusercontent.com/u/20166219/Fth_donate.png" type="image" width="100"> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"></form>
    </div>
  </div>
</section>

<section class="section" id="support">
  <div class="container">
    <h2 class="hide-text">Support</h2>
    <img src="{{assets}}/img/support_icon.svg" alt="Support">
    <div class="section--body">
      <p>We are a 501c3 NPO working in a local faith based community called The Rock.
      We are raising $445,000  to provide backpacks, supplies and food to the SF Bay area’s homeless community.
      Your support is greatly appreciated!</p>
      <form class="donate_button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank"><input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="8U5ULSLNL3XMG"> <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://dl.dropboxusercontent.com/u/20166219/Fth_donate.png" type="image" width="100"> <img alt="" border="0" height="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="0"></form>
    </div>
  </div>
</section>
